.masthead{
  height: 220px;
  background-image:url("/assets/images/header.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-size: 7em;
  a {
    color: white;
    margin-left: 10%;
  }
}

.navbar {

}
