.masthead{
  height: 220px;
  background-image:url("/assets/images/header.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  font-size: 7em;
  a {
    color: white;
    margin-left: 10%;
  }
}

.navbar {

}

.product-tile {
  height: 300px;
  width: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
  .product-tile-title {
    position: absolute;
    color: white;
    opacity: 0.9;
    text-shadow: 0px 2px 3px black;
  }


  .product-description {
    position: absolute;
    height: 25%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Vollkorn', serif;
  }

  .cart-button {
    position: absolute;
    height: 25%;
    bottom: -24px;
    right: -3px;
    padding: 10px;
  }
}
