body {
  background-color: #ffeee0;
}

.masthead{
  height: 220px;
  background-image:url("/assets/images/header.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  a {
    color: #ffda61;
    text-decoration: none;
    top: 100px;
    right: 20px;
    position: absolute;
    font-size: 650%
  }
  a:hover {
    color: #fff2c7;
  }
}

.navbar {
  background: linear-gradient(#6f1109, #d13125);
  border-color: #6f1109;
  .navbar-link {
    color: #ffda61 !important;
  }
  .navbar-link:hover {
    color: #fff2c7 !important;
  }
}

.product-tile {
  height: 300px;
  width: 300px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;

  .product-description {
    position: absolute;
    height: 25%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    color: white;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Vollkorn', serif;
  }

  .add-cart-button {
    position: absolute;
    height: 25%;
    bottom: -24px;
    right: -3px;
    padding: 10px;
  }
}

.cart-tile {
  border: 1px solid gray;
  vertical-align: left;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  .cart-image {
    height: 150px;
    width: 150px;
    vertical-align: middle;
  }
  .product-description {
    margin: -40;
  }
  .cart-price {
    font-size: 20px;
    position: absolute;
    top: 42px;
    left: 40px;
  }
  .in-cart-button {
    position: absolute;
    top: 80px;
  }

  // .in-cart-button {
  //   position: absolute;
  //   height: 25%;
  //   bottom: -24px;
  //   right: -175px;
  //   padding: 10px;
  // }
}
